/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

#connection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

#connection form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.email label,
.password label {
  width: 30%;
  font-family: "Work Sans";
  color: #3d3d3d;
  text-align: left;
  font-weight: 500;
  padding: 0;
}

.email input,
.password input {
  width: 30%;
  height: 51px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
  border: none;
  padding: 0 20px;
}

.email input:focus-visible,
.password input:focus-visible {
  outline: none;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit"] {
  font-size: 14px;
  height: 36px;
  border: none;
}

form a {
  color: #3d3d3d;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 14px;
}
